services:
  frontend-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "5173:5173"
    container_name: workout-frontend-dev

  frontend-prod:
    build: .
    ports:
      - "3000:8080"
    container_name: workout-frontend-prod

volumes:
  node_modules:
